<h1>Edit this ingredient</h1>


<form id="form_id" action="/ingredient/<%= @ingredient.id %>" method="post">
  <input type="hidden" name="_method" value="patch">
  <input type="text" name="new_ingredient" placeholder=" New ingredient name">
  <button name="submit">Submit</button>

</form>

<form id="form_id" action="/ingredient/<%= @ingredient.id %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <button name="delete">Delete</button>
</form>
